/* styles.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #f0f0f0;
  }
  
  .title {
    text-align: center;
    color: #333;
  }
  
  .description {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .destination {
    color: #4CAF50;
  }
  
  h2.destination {
    margin-top: 30px;
  }
  
  h5 {
    color: #777;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    padding-left: 20px;
    margin-bottom: 8px;
  }
  
  p {
    text-align: justify;
  }
  
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  